@import url('./fonts.css');
@import url('./normalize.css');
@import url('./variables.css');

html {
    scroll-behavior: smooth;
}

.page {
    font-family: "HelveticaNeue", sans-serif;
    background-color: var(--black);
    background-image: url("../assets/images/abstract-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    color: var(--white);
    background-color: var(--black);
    padding-block: var(--space-xl);
}

.navigation {
    display: flex;
    justify-content: space-between;
    max-inline-size: 1440px;
    margin: 0 auto;
    font-size: var(--font-m);
}

.navigation__list {
    display: flex;
    gap: var(--space-3xl);
}

.links__list {
    display: flex;
    align-items: center;
    gap: var(--space-xl);
}

.hero {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.hero__container {
    padding-block: var(--space-3xl);
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 88px);
    background-image: url("../assets/images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: var(--space-xl) solid var(--black);
}

.hero__container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 30%;
    background: linear-gradient(0.00deg, rgb(0 0 0 / 0%),rgb(0 0 0) 100%);
}

.hero__container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(180.00deg, rgb(0 0 0 / 0%),rgb(0 0 0) 100%);
}

.hero__logo-container {
    max-height: 100%;
    min-inline-size: 60vw;
    max-inline-size: 80vw;
}

.hero__logo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    aspect-ratio: 4 / 3;
}

.new-album {
    position: relative;
    padding-block: 256px;
    color: var(--white);
    background-image: url("../assets/images/newAlbumBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: var(--space-2xl) solid var(--black);
}

.new-album::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 30%;
    background: linear-gradient(0.00deg, rgb(0 0 0 / 0%),rgb(0 0 0) 100%);
}

.new-album::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(180.00deg, rgb(0 0 0 / 0%),rgb(0 0 0) 100%);
}

.new-album__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.new-album-card {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-xl);
    height: min-content;
    max-inline-size: 1440px;
}

.new-album-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 60%);
}

.new-album__cover-container {
    flex-shrink: 0;
    inline-size: 500px;
    block-size: 500px;
}

.new-album__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 4 / 3;
}

.new-album__info {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
}

.info__title {
    position: relative;
    font-size: var(--font-5xl);
}

.info__title::before {
    position: absolute;
    bottom: var(--font-5xl);
    color: var(--accent-color);
    font-size: var(--font-xl);
    content: 'New Album';
}

.info__description {
    font-weight: 500;
    font-size: var(--font-m);
}

.info__links {
    display: flex;
    gap: var(--space-xl);
}

.section-container {
    padding-block: var(--space-3xl);
    max-inline-size: 1200px;
    margin: 0 auto;
    color: var(--white);
}

.heading {
    font-size: var(--font-5xl);
}

.shows__list {
    margin-block-start: var(--space-xl);
}

.shows-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-xl);
    padding-inline: var(--space-s);
    padding-block: var(--space-m);
    border-bottom: 1px solid var(--white);
    background-color: var(--black);
}

.shows-card:first-of-type {
    border-top: 1px solid var(--white);
}

.col-half {
    display: flex;
    align-items: center;
    gap: var(--space-2xl);
}


.shows-card__date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shows-card__date-item {
    line-height: 100%;
}

.shows-card__date-item:first-of-type {
    font-size: var(--font-3xl);
    padding-inline: var(--space-xs);
}

.shows-card__date-item:last-of-type {
    font-size: var(--font-m);
    padding-inline: var(--space-xs);
}

.shows-card__heading {
    font-size: var(--font-2xl);
}

.shows-card__city {
    font-size: var(--font-m);
}

.show-card__button {
    font-size: var(--font-m);
    border: 2px solid var(--accent-color);
    border-radius: var(--space-xs);
    padding-block: var(--space-xs);
    padding-inline: var(--space-s);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.show-card__button:hover {
    color: var(--accent-color);
    background-color: var(--white);
    cursor: pointer;
}

.music {
    position: relative;
}

.music__card-cover {
    max-block-size: 30%;
}

.music__card-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.music__card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
    margin-block-start: var(--space-s);
}

.card__info-heading {
    font-size: var(--font-xl);
}

.card__info-subheading {
    font-size: var(--font-m);
}

.swiper {
    width: 85%;
    margin-block-start: var(--space-xl);
}

.music__list {
    position: relative;
}

.prev-button {
    position: absolute;
    bottom: 50%;
    left: 0;
    z-index: 2;
    width: 48px;
    height: 48px;
    color: var(--accent-color);
}

.next-button {
    position: absolute;
    right: 0;
    bottom: 50%;
    z-index: 2;
    width: 48px;
    height: 48px;
    color: var(--accent-color);
}

.next-button svg,
.prev-button svg {
    transition: fill 0.2s ease-in-out;
}

.next-button:hover svg,
.prev-button:hover svg {
    cursor: pointer;
    fill: var(--white);
}