:root {
    --black: #000000;
    --white: #ffffff;
    --accent-color: #2a2aee;
    --font-xs: 12px;
    --font-s: 16px;
    --font-m: 20px;
    --font-xl: 24px;
    --font-2xl: 32px;
    --font-3xl: 40px;
    --font-4xl: 48px;
    --font-5xl: 56px;
    --space-xs: 8px;
    --space-s: 16px;
    --space-m: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;
}
